body {
    margin: 0;
    display: flex;
}

.container {
    width: 100vw;
    height: 100vh;
    border: 10px solid goldenrod;
    display: flex;
    margin-right: 5px;
    box-sizing: border-box;
    flex-direction: column;
}

.box {
    background-color: rgb(57, 228, 219);
    width: 100px;
    height: 100px;
    margin: 2px;
}

#container1 {
    flex-wrap: wrap;
}

#container2 {
    flex-flow: column wrap;
    /* flex-direction & flex-wrap을 한번에 지정 */
}