body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1200px;
    border: 1px solid black;
    display: flex;
    /* flex-direction: row; */
}

.title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}

.left {
    flex: 1;
    background: ivory;
    padding: 20px;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.child:nth-child(1) {
    padding: 20px;
    background: red;
}

.child:nth-child(2) {
    padding: 20px;
    background: blue;
    color: white;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
    }
}